<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<script>
			const TREE_BRANCH_PATH_TEMPLATE = "/@repo.user_name/@repo.name/tree/";
			const BRANCH_NAME = "@branch_name";
			const REPO_ID = @repo.id;
		</script>

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="repo-wrapper">
				<span class="branch-specific-container">
					<select class="branch-select" name="branch">
						@for name in app.get_all_repo_branch_names(repo.id)
							<option value="@name">@name</option>
						@end
					</select>

					<div class="branch-specific-item">
						<a href='/@repo.user_name/@repo.name/@branch_name/commits/0'>
							<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor"