<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<script>
			const TREE_BRANCH_PATH_TEMPLATE = "/@repo.user_name/@repo.name/tree/";
			const BRANCH_NAME = "@branch_name";
			const REPO_ID = @repo.id;
		</script>

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="repo-wrapper">
				<span class="branch-specific-container">
					<select class="branch-select" name="branch">
						@for name in app.get_all_repo_branch_names(repo.id)
							<option value="@name">@name</option>
						@end
					</select>

					<div class="branch-specific-item">
						<a href='/@repo.user_name/@repo.name/@branch_name/commits/0'>
							<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 255.531c.253 136.64-111.18 248.372-247.82 248.468-59.015.042-113.223-20.53-155.822-54.911-11.077-8.94-11.905-25.541-1.839-35.607l11.267-11.267c8.609-8.609 22.353-9.551 31.891-1.984C173.062 425.135 212.781 440 256 440c101.705 0 184-82.311 184-184 0-101.