<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<h1>Admin panel</h1>

			<div class="admin-menu">
				<a href="/admin/settings">Settings</a>
				|
				<span>Users</span>
				|
				<a href="/admin/statistics">Statistics</a>
			</div>

			.clog-block {
				@for user in users
					.clog {
						<form action='/admin/users/@user.id' method='post' class='data'>
							.data-user {
								.avatar {
									<img src="@{app.prepare_us