.data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.data-box {
	flex-basis: 100%;
	display: none;
	justify-content: space-between;
}

.data-show-user {
	cursor: pointer;
	background: none;
	color: $black;
	border: 1px solid $gray;
	padding: 5px 8px;
	border-radius: $small-radius;
	transition: background-color 0.07s, border-color 0.07s, color 0.07s;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.data-show-user:hover {
	border: 1px soli