.profile-block-container {
	display: grid;
	grid-template-areas: "profile repos";
	grid-template-columns: 260px 1fr;
}

.profile-block__left {
	grid-area: profile;
	max-width: 300px;
}

.profile-block__right {
	grid-area: repos;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
}

.profile-avatar {
	height: 256px;
	width: 256px;
	border-radius: 100%;
	border: 2px solid #24292e;
	margin-top: 5px;
	overflow: hidd